<% layout("/layouts/boilerplate.ejs")%>

    <body>
        <div class="row">
            <div class="col-6 offset-2">
                <h1>User Login Form</h1>
                <form method="post" action="/login" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" name="email" placeholder="Enter User-Email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" name="password" placeholder="Enter User-Password" class="form-control" required>
                    </div>
                    <button class="btn btn-dark">Login</button>
                </form>
            </div>
        </div>

    </body>